.CustomerSearchPage {
  width: 100vw;
  height: 100vh;
}

.CustomerResults {
  position: relative;
  top: 4vh;
  max-height: 60vh;
  overflow-y: scroll;
}

.ResultsDisplay {
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}
